li.itemEnter.listGroupItem {
    max-height: 0;
    opacity: 0;
}

li.itemEnterActive.listGroupItem {
    max-height: 100px;
    opacity: 1;
    transition: max-height 400ms ease-in, opacity 200ms ease-in 200ms;
}

li.itemExit.listGroupItem {
    max-height: 100px;
    transform: translate(0);
}

li.itemExitActive.list-GroupItem {
    max-height: 0;
    transform: translate(-100vw);
    transition: transform ease-in 400ms, max-height 200ms ease-out 400ms;
}

li.listGroupItem {
    margin-bottom: -1px;
}
