li.noteBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .checkboxContainer {
        flex-grow: 1;
        display: flex;
        max-width: calc(100% - 160px);
        overflow: hidden;
        align-items: center;

        .formCheckInput {
            margin: 0 10px 0 15px;
        }
    }

    label {
        user-select: none;
        padding: 15px 15px 15px 0;
        width: 100%;
        margin: 0;
        max-width: calc(100% - 20px);
        overflow: hidden;
    }

    &.completedNote label {
        text-decoration: line-through;
        opacity: 0.8;
        display: block;
    }

    .btnsContainer {
        display: flex;

        .btnRemove,
        .btnEdit {
            margin-right: 15px;
        }
    }
}

@media all and (max-width: 600px) {
    li.note-Block {
        .checkboxContainer {
            max-width: calc(100% - 100px);

            .formCheckInput {
                margin: 0 10px 0 10px;
            }
        }

        .btnsContainer {
            flex-wrap: wrap;
            width: 80px;
            justify-content: flex-end;

            .btnRemove {
                margin: 0 10px 10px 0;
            }

            .btnEdit {
                margin: 10px 10px 10px 0;
            }
        }
    }
}
