.header {
  background: #6f42c1;

  .nav-link {
    display: inline-block;
    color: white;
    opacity: .8;
    padding: 3px 10px;
    line-height: 20px;
    margin: 17px 10px 16px 10px;
    text-decoration: none;

    &:hover {
      color: white;
      opacity: 1;
      text-decoration: none;
    }

    &.active {
      opacity: 1;
      border-bottom: 1px solid white;
    }
  }
}