.noteModalEnter {
    opacity: 0;
}

.noteModalEnterActive {
    opacity: 1;
    transition: opacity 200ms;
}

.notesLoader {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: transparent;
    border-top: 4px solid #007bff;
    border-right: 4px solid transparent;
    border-radius: 50%;

    :global {
        animation: 1s spin linear infinite;
    }
}

.searchField {
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
}

.noNotes {
    line-height: 57px;
    margin-bottom: 15px;
}
