.note-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  label {
    user-select: none;
    padding: 15px 15px 15px 40px;
    width: 100%;
  }

  &.completed-note label {
    text-decoration: line-through;
    opacity: .8;
    display: block;
  }

  &.enter {
    max-height: 0;
    opacity: 0;
  }

  &.enter-active {
    max-height: 1000px;
    opacity: 1;
    transition-duration: 300ms;
  }

  &.exit {
    max-height: 55px;
    opacity: 1;
  }

  &.exit-active {
    max-height: 0;
    opacity: 0;
    transition-duration: 300ms;
  }
}


.btns-container {
  display: flex;

  .btn-outline-primary {
    margin-right: 15px;
  }

  .btn-outline-danger {
    margin-right: 15px;
  }
}

.checkbox-container {
  flex-grow: 1;
  display: flex;

  .form-check-input {
    margin: 22px 15px 15px 15px;
  }
}