@import '~bootstrap/scss/bootstrap';
@import '~itom-preloader-es6/style.scss';

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}